################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WilE/v17
/.vs/WilE/FileContentIndex
